Repository stm32duino/Arduino_Core_STM32, pull requests merged in 2018-09, with the labels that each got.

#313 Update WString
  cores/arduino/WString.cpp
  cores/arduino/WString.h
Labels: Arduino compatibility

#320 Add NUCLEO F767ZI board
  boards.txt
  variants/NUCLEO_F767ZI/PeripheralPins.c
  variants/NUCLEO_F767ZI/PinNamesVar.h
  variants/NUCLEO_F767ZI/ldscript.ld
  variants/NUCLEO_F767ZI/stm32f7xx_hal_conf.h
  variants/NUCLEO_F767ZI/variant.cpp
  variants/NUCLEO_F767ZI/variant.h
Labels: New variant

#287 Add RemRam v1 board variant
  boards.txt
  variants/REMRAM_V1/PeripheralPins.c
  variants/REMRAM_V1/PinNamesVar.h
  variants/REMRAM_V1/ldscript.ld
  variants/REMRAM_V1/stm32f7xx_hal_conf.h
  variants/REMRAM_V1/usb/usbd_conf.c
  variants/REMRAM_V1/usb/usbd_conf.h
  variants/REMRAM_V1/usb/usbd_desc.c
  variants/REMRAM_V1/usb/usbd_desc.h
  variants/REMRAM_V1/variant.cpp
  variants/REMRAM_V1/variant.h
Labels: New variant

#327 Add support of BLACK F407VET
  CI/build/conf/cores_config.json
  boards.txt
  variants/BLACK_F407VE/PeripheralPins.c
  variants/BLACK_F407VE/PinNamesVar.h
  variants/BLACK_F407VE/ldscript.ld
  variants/BLACK_F407VE/stm32f4xx_hal_conf.h
  variants/BLACK_F407VE/variant.cpp
  variants/BLACK_F407VE/variant.h
Labels: New variant

#323 I2C Scanner comment updated
  libraries/Wire/examples/i2c_scanner/i2c_scanner.ino
Labels: review on going

#338 [EEPROM] Allow FLASH definition to be redefined
  cores/arduino/stm32/stm32_eeprom.c
  cores/arduino/stm32/stm32_eeprom.h
Labels: Enhancement, Fix
