Repository stm32duino/Arduino_Core_STM32, pull requests merged in 2018-10, with the labels that each got.

#335 New variant BLUE_F407VE_Mini
  CI/build/conf/cores_config.json
  boards.txt
  variants/BLUE_F407VE_Mini/PeripheralPins.c
  variants/BLUE_F407VE_Mini/PinNamesVar.h
  variants/BLUE_F407VE_Mini/ldscript.ld
  variants/BLUE_F407VE_Mini/stm32f4xx_hal_conf.h
  variants/BLUE_F407VE_Mini/variant.cpp
  variants/BLUE_F407VE_Mini/variant.h
Labels: New variant

#254 Add RAK811 LoRa Tracker Board
  boards.txt
  variants/RAK811_TRACKER/PeripheralPins.c
  variants/RAK811_TRACKER/PinNamesVar.h
  variants/RAK811_TRACKER/ldscript.ld
  variants/RAK811_TRACKER/ldscript_xba.ld
  variants/RAK811_TRACKER/stm32l1xx_hal_conf.h
  variants/RAK811_TRACKER/variant.cpp
  variants/RAK811_TRACKER/variant.h
Labels: New variant

#346 Add keywords.txt
  keywords.txt
  libraries/Mouse/keywords.txt
  libraries/SPI/keywords.txt
  libraries/Wire/keywords.txt
Labels: Arduino compatibility

#343 Added NUCLEO_L073RZ support
  boards.txt
  variants/NUCLEO_L073RZ/PeripheralPins.c
  variants/NUCLEO_L073RZ/PinNamesVar.h
  variants/NUCLEO_L073RZ/ldscript.ld
  variants/NUCLEO_L073RZ/stm32l0xx_hal_conf.h
  variants/NUCLEO_L073RZ/variant.cpp
  variants/NUCLEO_L073RZ/variant.h
Labels: New variant

#339 [review #337] + fix on build.flags.ldspec
  boards.txt
  platform.txt
Labels: Enhancement

#355 Fix warning in twi.c (I2C)
  cores/arduino/stm32/twi.c
Labels: Fix

#348 Enhance memory management
  boards.txt
  cores/arduino/syscalls.c
  libraries/Wire/src/Wire.cpp
  variants/NUCLEO_L432KC/ldscript.ld
Labels: Enhancement, Fix

#356 Use define instead of enum for pins in variant.h
  cores/arduino/pins_arduino.h
  variants/BLACK_F407VE/variant.h
  variants/BLUEPILL_F103C8/variant.h
  variants/BLUE_F407VE_Mini/variant.h
  variants/DISCO_F030R8/variant.h
  variants/DISCO_F100RB/variant.h
  variants/DISCO_F407VG/variant.h
  variants/DISCO_F746NG/variant.h
  variants/DISCO_L072CZ_LRWAN1/variant.h
  variants/DISCO_L475VG_IOT/variant.h
  variants/MAPLEMINI_F103CB/variant.h
  variants/NUCLEO_F030R8/variant.h
  variants/NUCLEO_F091RC/variant.h
  variants/NUCLEO_F103RB/variant.h
  variants/NUCLEO_F207ZG/variant.h
  variants/NUCLEO_F302R8/variant.h
  variants/NUCLEO_F303K8/variant.h
  variants/NUCLEO_F303RE/variant.h
  variants/NUCLEO_F401RE/variant.h
  variants/NUCLEO_F411RE/variant.h
  variants/NUCLEO_F429ZI/variant.h
  variants/NUCLEO_F446RE/variant.h
  variants/NUCLEO_F767ZI/variant.h
  variants/NUCLEO_L031K6/variant.h
  variants/NUCLEO_L053R8/variant.h
  variants/NUCLEO_L073RZ/variant.h
  variants/NUCLEO_L152RE/variant.h
  variants/NUCLEO_L432KC/variant.h
  variants/NUCLEO_L476RG/variant.h
  variants/NUCLEO_L496ZG/variant.h
  variants/NUCLEO_L4R5ZI/variant.h
  variants/RAK811_TRACKER/variant.h
  variants/REMRAM_V1/variant.h
  variants/board_template/variant.h
Labels: Arduino compatibility
