Repository stm32duino/Arduino_Core_STM32, pull requests merged in 2019-01, with the labels that each got.

#400 [EEPROM] Wrong E2END definition
  cores/arduino/stm32/stm32_eeprom.c
  cores/arduino/stm32/stm32_eeprom.h
  libraries/EEPROM/src/EEPROM.h
Labels: Fix

#401 udp: Add beginMulticast method
  cores/arduino/Udp.h
Labels: Arduino compatibility

#376 Add DIYMROE_STM32F407VGT support
  README.md
  boards.txt
  variants/DIYMROE_F407VGT/PeripheralPins.c
  variants/DIYMROE_F407VGT/PinNamesVar.h
  variants/DIYMROE_F407VGT/ldscript.ld
  variants/DIYMROE_F407VGT/stm32f4xx_hal_conf.h
  variants/DIYMROE_F407VGT/variant.cpp
  variants/DIYMROE_F407VGT/variant.h
Labels: New variant

#402 Add BLACK 407ZET6 & ZGT6 Support
  boards.txt
  variants/BLACK_F407VE/PeripheralPins.c
  variants/BLACK_F407VE/ldscript.ld
  variants/BLACK_F407VE/ldscript_zg.ld
  variants/BLACK_F407VE/variant.cpp
  variants/BLACK_F407VE/variant.h
Labels: New variant

#390 Add RUMBA32 3D Printer Control Board
  boards.txt
  variants/RUMBA32_F446VE/PeripheralPins.c
  variants/RUMBA32_F446VE/PinNamesVar.h
  variants/RUMBA32_F446VE/ldscript.ld
  variants/RUMBA32_F446VE/stm32f4xx_hal_conf.h
  variants/RUMBA32_F446VE/variant.cpp
  variants/RUMBA32_F446VE/variant.h
Labels: New variant, Waiting feedback

#408 Add Discovery F072RB support
  boards.txt
  variants/DISCO_F072RB/PeripheralPins.c
  variants/DISCO_F072RB/PinNamesVar.h
  variants/DISCO_F072RB/ldscript.ld
  variants/DISCO_F072RB/stm32f0xx_hal_conf.h
  variants/DISCO_F072RB/variant.cpp
  variants/DISCO_F072RB/variant.h
Labels: New variant

#404 Add preprocessing of linker script
  platform.txt
Labels: Enhancement

#417 Add I2C definition for RemRam V1
  variants/REMRAM_V1/variant.h
Labels: Fix

#405 New board variant (3D printer controller): PRNTR_F407
  boards.txt
  variants/PRNTR_F407_V1/PeripheralPins.c
  variants/PRNTR_F407_V1/PinNamesVar.h
  variants/PRNTR_F407_V1/ldscript.ld
  variants/PRNTR_F407_V1/stm32f4xx_hal_conf.h
  variants/PRNTR_F407_V1/variant.cpp
  variants/PRNTR_F407_V1/variant.h
Labels: New variant

#422 [Clean up #382] Add support for Malyan's M200 class boards
  boards.txt
  variants/MALYANM200_F070CB/PeripheralPins.c
  variants/MALYANM200_F070CB/PinNamesVar.h
  variants/MALYANM200_F070CB/ldscript.ld
  variants/MALYANM200_F070CB/startup_M200_f070xb.S
  variants/MALYANM200_F070CB/stm32f0xx_hal_conf.h
  variants/MALYANM200_F070CB/variant.cpp
  variants/MALYANM200_F070CB/variant.h
  variants/MALYANM200_F103CB/PeripheralPins.c
  variants/MALYANM200_F103CB/PinNamesVar.h
  variants/MALYANM200_F103CB/ldscript.ld
  variants/MALYANM200_F103CB/startup_M200_f103xb.S
  variants/MALYANM200_F103CB/stm32f1xx_hal_conf.h
  variants/MALYANM200_F103CB/variant.cpp
  variants/MALYANM200_F103CB/variant.h
Labels: New variant, Waiting feedback

#420 New Variant BluePill F103C6 (32K)
  boards.txt
  cores/arduino/stm32/PinAF_STM32F1.h
  variants/BLUEPILL_F103XX/PeripheralPins.c
  variants/BLUEPILL_F103XX/PinNamesVar.h
  variants/BLUEPILL_F103XX/ldscript.ld
  variants/BLUEPILL_F103XX/stm32f1xx_hal_conf.h
  variants/BLUEPILL_F103XX/variant.cpp
  variants/BLUEPILL_F103XX/variant.h
Labels: New variant

#416 New Variant - HY-TinySTM103T
  boards.txt
  variants/HY_TinySTM103T/PeripheralPins.c
  variants/HY_TinySTM103T/PinNamesVar.h
  variants/HY_TinySTM103T/ldscript.ld
  variants/HY_TinySTM103T/stm32f1xx_hal_conf.h
  variants/HY_TinySTM103T/variant.cpp
  variants/HY_TinySTM103T/variant.h
Labels: New variant
