Repository stm32duino/Arduino_Core_STM32, pull requests merged in 2019-08, with the labels that each got.

#521 Add support of the STEVAL-MKSBOX1V1 (SensorTile.box)
  README.md
  boards.txt
  variants/STEVAL_MKSBOX1V1/PeripheralPins.c
  variants/STEVAL_MKSBOX1V1/PinNamesVar.h
  variants/STEVAL_MKSBOX1V1/ldscript.ld
  variants/STEVAL_MKSBOX1V1/variant.cpp
  variants/STEVAL_MKSBOX1V1/variant.h
Labels: New variant

#598 Add SD pin mapping for NUCLEO_L4R5ZI
  variants/NUCLEO_L4R5ZI/PeripheralPins.c
Labels: Enhancement

#608 [I2C] Harden error management
  cores/arduino/stm32/twi.c
  libraries/Wire/src/Wire.cpp
Labels: Fix

#610 Update README.md
  README.md
Labels: Documentation, Enhancement

#613 Allow F_CPU redefinition
  cores/arduino/stm32/stm32_def.h
Labels: Arduino compatibility, Enhancement

#614 Add SharkyMKR from Midatronics
  README.md
  boards.txt
  variants/MKR_SHARKY/PeripheralPins.c
  variants/MKR_SHARKY/PinNamesVar.h
  variants/MKR_SHARKY/ldscript.ld
  variants/MKR_SHARKY/variant.cpp
  variants/MKR_SHARKY/variant.h
Labels: New variant

#604 Core Board F401RC
  README.md
  boards.txt
  variants/CoreBoard_F401RC/PeripheralPins.c
  variants/CoreBoard_F401RC/PinNamesVar.h
  variants/CoreBoard_F401RC/ldscript.ld
  variants/CoreBoard_F401RC/variant.cpp
  variants/CoreBoard_F401RC/variant.h
Labels: New variant

#616 Added Generic flight controllers menu
  boards.txt
  variants/AFROFLIGHT_F103CB/PeripheralPins.c
  variants/AFROFLIGHT_F103CB/PinNamesVar.h
  variants/AFROFLIGHT_F103CB/ldscript.ld
  variants/AFROFLIGHT_F103CB/variant.cpp
  variants/AFROFLIGHT_F103CB/variant.h
Labels: New variant

#615 Add Generic STM32F103Rx boards
  README.md
  boards.txt
  variants/Generic_F103Rx/PeripheralPins.c
  variants/Generic_F103Rx/PinNamesVar.h
  variants/Generic_F103Rx/ldscript.ld
  variants/Generic_F103Rx/variant.cpp
  variants/Generic_F103Rx/variant.h
Labels: New variant
