Repository stm32duino/Arduino_Core_STM32, pull requests merged in 2019-07, with the labels that each got.

#554 [Review #553] Add STM32F030F4 Demo board 16MHz
  boards.txt
  variants/DEMO_F030F4/variant.cpp
  variants/DEMO_F030F4/variant.h
Labels: New variant

#555 Add WEAK attribute to PinMap arrays
  variants/ARMED_V1/PeripheralPins.c
  variants/BLACK_F407XX/PeripheralPins.c
  variants/BLUE_F407VE_Mini/PeripheralPins.c
  variants/DEMO_F030F4/PeripheralPins.c
  variants/DISCO_F030R8/PeripheralPins.c
  variants/DISCO_F072RB/PeripheralPins.c
  variants/DISCO_F100RB/PeripheralPins.c
  variants/DISCO_F407VG/PeripheralPins.c
  variants/DISCO_F746NG/PeripheralPins.c
  variants/DISCO_L072CZ_LRWAN1/PeripheralPins.c
  variants/DISCO_L475VG_IOT/PeripheralPins.c
  variants/DIYMROE_F407VGT/PeripheralPins.c
  variants/EEXTR_F030_V1/PeripheralPins.c
  variants/FK407M1/PeripheralPins.c
  variants/HY_TinySTM103T/PeripheralPins.c
  variants/MALYANM200_F070CB/PeripheralPins.c
  variants/MALYANM200_F103CB/PeripheralPins.c
  variants/MAPLEMINI_F103CB/PeripheralPins.c
  variants/NUCLEO_F030R8/PeripheralPins.c
  variants/NUCLEO_F091RC/PeripheralPins.c
  variants/NUCLEO_F103RB/PeripheralPins.c
  variants/NUCLEO_F207ZG/PeripheralPins.c
  variants/NUCLEO_F302R8/PeripheralPins.c
  variants/NUCLEO_F303K8/PeripheralPins.c
  variants/NUCLEO_F303RE/PeripheralPins.c
  variants/NUCLEO_F401RE/PeripheralPins.c
  variants/NUCLEO_F411RE/PeripheralPins.c
  variants/NUCLEO_F429ZI/PeripheralPins.c
  variants/NUCLEO_F446RE/PeripheralPins.c
  variants/NUCLEO_F767ZI/PeripheralPins.c
  variants/NUCLEO_G071RB/PeripheralPins.c
  variants/NUCLEO_H743ZI/PeripheralPins.c
  variants/NUCLEO_L031K6/PeripheralPins.c
  variants/NUCLEO_L053R8/PeripheralPins.c
  variants/NUCLEO_L073RZ/PeripheralPins.c
  variants/NUCLEO_L152RE/PeripheralPins.c
  variants/NUCLEO_L412KB/PeripheralPins.c
  variants/NUCLEO_L432KC/PeripheralPins.c
  variants/NUCLEO_L452RE/PeripheralPins.c
  variants/NUCLEO_L476RG/PeripheralPins.c
  variants/NUCLEO_L496ZG/PeripheralPins.c
  variants/NUCLEO_L4R5ZI/PeripheralPins.c
  variants/PILL_F103XX/PeripheralPins.c
  variants/PILL_F303XX/PeripheralPins.c
  variants/PNUCLEO_WB55RG/PeripheralPins.c
  variants/PRNTR_F407_V1/PeripheralPins.c
  variants/RAK811_TRACKER/PeripheralPins.c
  variants/REMRAM_V1/PeripheralPins.c
  variants/RUMBA32_F446VE/PeripheralPins.c
  variants/SPARKY_F303CC/PeripheralPins.c
  variants/ST3DP001_EVAL/PeripheralPins.c
  variants/VAKE_F446VE/PeripheralPins.c
Labels: Enhancement, Fix

#565 I2C Timing
  .gitignore
  cores/arduino/stm32/twi.c
  cores/arduino/stm32/twi.h
  libraries/Wire/src/Wire.cpp
  variants/board_template/variant.h
Labels: Bug, Enhancement, Fix

#567 Add support for Blackpill F401CC
  boards.txt
  variants/PILL_F401XX/PeripheralPins.c
  variants/PILL_F401XX/PinNamesVar.h
  variants/PILL_F401XX/ldscript.ld
  variants/PILL_F401XX/variant.cpp
  variants/PILL_F401XX/variant.h
Labels: New variant
