Repository stm32duino/Arduino_Core_STM32, pull requests merged in 2022-06, with the labels that each got.

#1730 Added the N-Versions of G0(7,8)1G(8,B)U generic Boards
  README.md
  boards.txt
  variants/STM32G0xx/G071G(8-B)UxN_G081GBUxN/generic_clock.c
  variants/STM32G0xx/G071G(8-B)UxN_G081GBUxN/ldscript.ld
Labels: New variant

#1732 Added STM32F765IIKx
  README.md
  boards.txt
  variants/STM32F7xx/F765I(G-I)(K-T)_F767I(G-I)(K-T)_F777II(K-T)/generic_clock.c
  variants/STM32F7xx/F765I(G-I)(K-T)_F767I(G-I)(K-T)_F777II(K-T)/ldscript.ld
Labels: New variant

#1734 variant: update entries and ci config
  CI/build/conf/cores_config.json
  CI/build/conf/cores_config_ci.json
  README.md
  boards.txt
  variants/STM32G0xx/G071C(6-8-B)(T-U)_G081CB(T-U)/generic_clock.c
Labels: Enhancement, New variant, Fix

#1733 variant: add AcSIP S76S support
  README.md
  boards.txt
  variants/STM32L0xx/L072R(B-Z)T_L073R(B-Z)T_L083R(B-Z)T/PeripheralPins_ACSIP_S76S..c
  variants/STM32L0xx/L072R(B-Z)T_L073R(B-Z)T_L083R(B-Z)T/variant_ACSIP_S76S.cpp
  variants/STM32L0xx/L072R(B-Z)T_L073R(B-Z)T_L083R(B-Z)T/variant_ACSIP_S76S.h
Labels: New variant

#1735 Review get adc/dac/timer channel functions
  cores/arduino/stm32/analog.h
  cores/arduino/stm32/timer.h
  libraries/SrcWrapper/src/HardwareTimer.cpp
  libraries/SrcWrapper/src/stm32/analog.cpp
  libraries/SrcWrapper/src/stm32/timer.c
Labels: Enhancement, Fix

#1739 Error management: save space when core logs are not enabled
  boards.txt
  cores/arduino/core_debug.h
  cores/arduino/stm32/stm32_def.h
  libraries/SrcWrapper/src/stm32/stm32_def.c
  platform.txt
  system/extras/prebuild.sh
  variants/STM32MP1xx/MP153AAC_MP153CAC_MP153DAC_MP153FAC_MP157AAC_MP157CAC_MP157DAC_MP157FAC/README.md
Labels: Enhancement, Fix

#1743 Arduino lint
  .github/workflows/arduino-lint.yml
  boards.txt
  libraries/CMSIS_DSP/examples/arm_sin_cos_example_f32/arm_sin_cos_example_f32.ino
  libraries/CMSIS_DSP/library.properties
  libraries/IWatchdog/library.properties
  libraries/Keyboard/examples/KeyboardMessage/KeyboardMessage.ino
  libraries/Keyboard/library.properties
  libraries/Mouse/examples/ButtonMouseControl/ButtonMouseControl.ino
  libraries/Mouse/library.properties
  libraries/RGB_LED_TLC59731/library.properties
  libraries/SPI/library.properties
  libraries/Servo/library.properties
  libraries/SoftwareSerial/library.properties
  libraries/SrcWrapper/examples/BareMinimum/BareMinimum.ino
  libraries/SrcWrapper/library.properties
  libraries/Wire/library.properties
  platform.txt
Labels: Enhancement, Arduino compatibility, Fix

#1736 Adding L431RC Generic
  README.md
  boards.txt
  variants/STM32L4xx/L431R(B-C)(I-T-Y)/generic_clock.c
  variants/STM32L4xx/L431R(B-C)(I-T-Y)/ldscript.ld
Labels: New variant

#1745 variant: G0: add Nucleo-G070RB
  README.md
  boards.txt
  variants/STM32G0xx/G070RBT/variant_NUCLEO_G070RB.cpp
  variants/STM32G0xx/G070RBT/variant_NUCLEO_G070RB.h
Labels: New variant

#1754 ci(arduino-lint): fix new error raised by new version 1.2.1
  boards.txt
  platform.txt
Labels: Arduino compatibility, Fix

#1750 Print and debug improvements
  cores/arduino/Print.cpp
  cores/arduino/Print.h
  cores/arduino/core_debug.c
  cores/arduino/core_debug.h
Labels: Enhancement
