Repository stm32duino/Arduino_Core_STM32, pull requests merged in 2022-08, with the labels that each got.

#1790 fix: take into account STM32G0B0 USART IRQ multiplexing specificities
  cores/arduino/stm32/uart.h
  libraries/SrcWrapper/src/stm32/uart.c
Labels: Fix

#1815 fix: Nucleo G474RE: define LED_BUILTIN in the proper way
  variants/STM32G4xx/G473R(B-C-E)T_G474R(B-C-E)T_G483RET_G484RET/variant_NUCLEO_G474RE.h
Labels: Fix

#1818 fix(Wire): in case of slave, (re)enable interrupt when configuring clock
  libraries/Wire/src/Wire.cpp
Labels: Fix

#1801 I2C slave: Enable multi slave address handling
  libraries/Wire/src/utility/twi.c
Labels: Enhancement

#1795 Added Generic F3xx Boards
  README.md
  boards.txt
  variants/STM32F3xx/F301C6T_F301C8(T-Y)/generic_clock.c
  variants/STM32F3xx/F301C6T_F301C8(T-Y)/ldscript.ld
  variants/STM32F3xx/F301K(6-8)T/generic_clock.c
  variants/STM32F3xx/F301K(6-8)T/ldscript.ld
  variants/STM32F3xx/F301R(6-8)T/generic_clock.c
  variants/STM32F3xx/F301R(6-8)T/ldscript.ld
  variants/STM32F3xx/F303C(6-8)T_F334C(4-6-8)T/generic_clock.c
  variants/STM32F3xx/F303C(6-8)T_F334C(4-6-8)T/ldscript.ld
  variants/STM32F3xx/F303R(6-8)T_F334R(6-8)T/generic_clock.c
  variants/STM32F3xx/F303R(6-8)T_F334R(6-8)T/ldscript.ld
  variants/STM32F3xx/F318C8(T-Y)/generic_clock.c
  variants/STM32F3xx/F318C8(T-Y)/ldscript.ld
  variants/STM32F3xx/F318K8U/generic_clock.c
  variants/STM32F3xx/F318K8U/ldscript.ld
  variants/STM32F3xx/F328C8T/generic_clock.c
  variants/STM32F3xx/F328C8T/ldscript.ld
  variants/STM32F3xx/F358CCT/generic_clock.c
  variants/STM32F3xx/F358CCT/ldscript.ld
  variants/STM32F3xx/F358RCT/generic_clock.c
  variants/STM32F3xx/F358RCT/ldscript.ld
  variants/STM32F3xx/F358VCT/generic_clock.c
  variants/STM32F3xx/F358VCT/ldscript.ld
  variants/STM32F3xx/F378CCT/generic_clock.c
  variants/STM32F3xx/F378CCT/ldscript.ld
  variants/STM32F3xx/F378RC(T-Y)/generic_clock.c
  variants/STM32F3xx/F378RC(T-Y)/ldscript.ld
  variants/STM32F3xx/F378VC(H-T)/generic_clock.c
  variants/STM32F3xx/F378VC(H-T)/ldscript.ld
  variants/STM32F3xx/F398VET/generic_clock.c
  variants/STM32F3xx/F398VET/ldscript.ld
Labels: New variant

#1791 Added F410T(8-B)Y board
  README.md
  boards.txt
  variants/STM32F4xx/F410T(8-B)Y/generic_clock.c
  variants/STM32F4xx/F410T(8-B)Y/ldscript.ld
Labels: New variant

#1793 Added Generic F1 boards
  README.md
  boards.txt
  variants/STM32F1xx/F100R(4-6)H/generic_clock.c
  variants/STM32F1xx/F100R(4-6)H/ldscript.ld
  variants/STM32F1xx/F100V(8-B)T/generic_clock.c
  variants/STM32F1xx/F100V(8-B)T/ldscript.ld
  variants/STM32F1xx/F100Z(C-D-E)T/generic_clock.c
  variants/STM32F1xx/F100Z(C-D-E)T/ldscript.ld
  variants/STM32F1xx/F101C(4-6)T/generic_clock.c
  variants/STM32F1xx/F101C(4-6)T/ldscript.ld
  variants/STM32F1xx/F101R(4-6)T/generic_clock.c
  variants/STM32F1xx/F101R(4-6)T/ldscript.ld
  variants/STM32F1xx/F101T(4-6)U/generic_clock.c
  variants/STM32F1xx/F101T(4-6)U/ldscript.ld
  variants/STM32F1xx/F101V(8-B)T/generic_clock.c
  variants/STM32F1xx/F101V(8-B)T/ldscript.ld
  variants/STM32F1xx/F101Z(C-D-E)T/generic_clock.c
  variants/STM32F1xx/F101Z(C-D-E)T/ldscript.ld
Labels: New variant

#1794 Added Generic F2xx Boards
  README.md
  boards.txt
  variants/STM32F2xx/F205RE(T-Y)_F205R(B-C-F)T_F205RG(E-T-Y)_F215R(E-G)T/generic_clock.c
  variants/STM32F2xx/F205RE(T-Y)_F205R(B-C-F)T_F205RG(E-T-Y)_F215R(E-G)T/ldscript.ld
  variants/STM32F2xx/F205V(B-C-E-F-G)T_F215V(E-G)T/generic_clock.c
  variants/STM32F2xx/F205V(B-C-E-F-G)T_F215V(E-G)T/ldscript.ld
  variants/STM32F2xx/F205Z(C-E-F-G)T_F215Z(E-G)T/generic_clock.c
  variants/STM32F2xx/F205Z(C-E-F-G)T_F215Z(E-G)T/ldscript.ld
  variants/STM32F2xx/F207I(C-E-F-G)(H-T)_F217I(E-G)(H-T)/generic_clock.c
  variants/STM32F2xx/F207I(C-E-F-G)(H-T)_F217I(E-G)(H-T)/ldscript.ld
  variants/STM32F2xx/F207V(C-E-F-G)T_F217V(E-G)T/generic_clock.c
  variants/STM32F2xx/F207V(C-E-F-G)T_F217V(E-G)T/ldscript.ld
Labels: New variant

#1823 Defined BlackPill F401CE
  README.md
  boards.txt
  variants/STM32F4xx/F401CC(F-U-Y)_F401C(B-D-E)(U-Y)/PeripheralPins_BLACKPILL_F401Cx.c
  variants/STM32F4xx/F401CC(F-U-Y)_F401C(B-D-E)(U-Y)/variant_BLACKPILL_F401Cx.cpp
  variants/STM32F4xx/F401CC(F-U-Y)_F401C(B-D-E)(U-Y)/variant_BLACKPILL_F401Cx.h
Labels: New variant
