Repository stm32duino/Arduino_Core_STM32, pull requests merged in 2023-06, with the labels that each got.

#2031 fix(DISCO_F072RB): USER_BTN definition
  variants/STM32F0xx/F072R8T_F072RB(H-I-T)/variant_DISCO_F072RB.h
Labels: Fix

#2033 add STM32L433RC, STM32L433RB and STM32L443RC support
  README.md
  boards.txt
  variants/STM32L4xx/L433R(B-C)(I-T-Y)_L443RC(I-T-Y)/generic_clock.c
  variants/STM32L4xx/L433R(B-C)(I-T-Y)_L443RC(I-T-Y)/ldscript.ld
Labels: New variant

#2037 Add MicroMod STM32WB5MMG. Move MicroMod STM32F405 under SparkFun Boards file.
  README.md
  boards.txt
  cmake/boards_db.cmake
  tools/platformio/boards_remap.json
  variants/STM32WBxx/WB5MMGH/CMakeLists.txt
  variants/STM32WBxx/WB5MMGH/PeripheralPins_SFE_MMPB_STM32WB5MMG.c
  variants/STM32WBxx/WB5MMGH/variant_SFE_MMPB_STM32WB5MMG.cpp
  variants/STM32WBxx/WB5MMGH/variant_SFE_MMPB_STM32WB5MMG.h
Labels: New variant

#2042 variant(L1): add L151ZDT, L152ZDT and L162ZDT generic support
  CI/build/conf/cores_config.json
  CI/build/conf/cores_config_ci.json
  README.md
  boards.txt
  cmake/boards_db.cmake
  variants/STM32L1xx/L151ZDT_L152ZDT_L162ZDT/generic_clock.c
  variants/STM32L1xx/L151ZDT_L152ZDT_L162ZDT/ldscript.ld
Labels: New variant

#2043 variant(): add STEVAL-MKBOXPRO (SensorTile.box Pro)
  README.md
  boards.txt
  cmake/boards_db.cmake
  variants/STM32U5xx/U575A(G-I)IxQ_U585AIIxQ/CMakeLists.txt
  variants/STM32U5xx/U575A(G-I)IxQ_U585AIIxQ/PeripheralPins_STEVAL_MKBOXPRO.c
  variants/STM32U5xx/U575A(G-I)IxQ_U585AIIxQ/variant_STEVAL_MKBOXPRO.cpp
  variants/STM32U5xx/U575A(G-I)IxQ_U585AIIxQ/variant_STEVAL_MKBOXPRO.h
Labels: New variant

#2044 update ram size for stm32f72x and f73x
  boards.txt
Labels: Enhancement

#2036 Add print(float) to save space (VS double).
  cores/arduino/Print.cpp
  cores/arduino/Print.h
Labels: Enhancement, New feature

#2048 variants(C0): add generic C011D6, C011F(4-6)(P-U) and C031F(4-6)P
  README.md
  boards.txt
  variants/STM32C0xx/C011D6Y_C011F(4-6)(P-U)_C031F(4-6)P/generic_clock.c
  variants/STM32C0xx/C011D6Y_C011F(4-6)(P-U)_C031F(4-6)P/ldscript.ld
Labels: New variant
